/*only for App component*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  font-family: 'Crimson Text', serif;
}

input {
  border-radius: 3px;
  padding: 16px;
  min-width: 300px;
}
#formbutton {
  margin-bottom: 10px;
}

textarea {
  border-radius: 5px;
  padding: 24px;
  min-width: 285px;
  min-height:
}
button {
  padding: 5px;
  min-width: 120px;
}
